@using DNTCaptcha.Core
@model LoginModel
@{
    Layout = "_AuthLayout";
}
<form method="post" class="mb-3">
    @{
        if (ViewBag.ReturnUrl != null)
        {
            <input type="hidden" asp-for="ReturnUrl"  value="@ViewBag.ReturnUrl" />
        }
    }
    <label asp-for="Username" class="form-label">User name : </label>
    <input type="text" class="form-control" asp-for="Username"/>
    <span asp-validation-for="Username"></span>
    <br>
    
    <label asp-for="Password" class="form-label">Password : </label>
    <input type="password" class="form-control" asp-for="Password"/>
    <span asp-validation-for="Password"></span>
    <br>
    
    <dnt-captcha asp-captcha-generator-max="9000"
                 asp-captcha-generator-min="1000"
                 asp-captcha-generator-language="Persian"
                 asp-captcha-generator-display-mode="ShowDigits"
                 asp-use-relative-urls="true"
                 asp-placeholder="کد امنیتی را وارد کنید"
                 asp-validation-error-message="ورود کد امنیتی الزامی است"
                 asp-font-name="Tahoma"
                 asp-font-size="20"
                 asp-fore-color="#333333"
                 asp-back-color="#FCF6F5FF"
                 asp-text-box-class="form-control"
                 asp-text-box-template="<div class='input-group'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                 asp-validation-message-class="text-danger"
                 asp-refresh-button-class="btn btn-outline-success fas fa-redo"
                 asp-show-refresh-button="true"
                 asp-dir="ltr"
    />
    
    
    
    <button type="submit" class="btn btn-success btn-block">Login</button>
    
    
</form>
<div>
    You don't have any account ?
    <a asp-controller="Auth" asp-action="Register">Sign up</a>
</div>