@model OtpModel

@{
    Layout = "_AuthLayout";
}

<form method="post">
    
    <label asp-for="Code">Code : </label>
    <input type="text" class="form-control" asp-for="Code"/>
    <span asp-validation-for="Code"></span>
    <br>


    <button type="submit" class="btn btn-success btn-block">Check Otp Code</button>
    
</form>
