@model DateViewModel

<form method="post">
    <input type="text" class="form-control" asp-for="Year" placeholder="Year"/>
    <input type="text" class="form-control" asp-for="Month" placeholder="Month"/>
    <input type="text" class="form-control" asp-for="Day" placeholder="Day"/>
    <button type="submit" class="btn btn-success">Get Occasions</button>
</form>


@{
    var data = new List<string>();
    if (Model != null && Model.Occasion != null)
    {
        data = Model.Occasion.Events.Select(x => x.Description).ToList();
        <strong>تعطیلی : @(Model.Occasion.IsHoliday ? "Yes" : "No")</strong>
    }
    
    <custom asp-items="data"  ></custom>
        @*<ul>
            @foreach (var ev in Model.Occasion.Events)
            {
                <li>@ev.Description</li>
            }
        </ul>*@
        
    

   
}