@model string
<form method="post">
    
    <strong>Current Cookie Value :</strong> @Model
    <br/>
    <input type="text" name="cookieValue" />
    <button type="submit">Write Cookie</button>
</form>