@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-3">
        به
        <span class="text-primary">گالری برنامه نویس</span>
        خوش آمدید
    </h1>
    <p class="mt-4 d-block">به گالری برنامه نویس خوش آمدید، برنامه برای مدیریت عکس های شما</p>
</div>