  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-image"></i>
              <p>
                مدیریت تصاویر
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a asp-controller="Image" asp-action="Index" class="nav-link">
                  <i class="far fa-upload nav-icon"></i>
                  <p>آپلود تصاویر</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Image" asp-action="List" class="nav-link">
                  <i class="far fa-list nav-icon"></i>
                  <p>لیست تصاویر</p>
                </a>
              </li>
              
            </ul>
          </li>
 
          
          
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tag"></i>
              <p>
                مدیریت برچسب ها
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./index.html" class="nav-link">
                  <i class="far fa-pen nav-icon"></i>
                  <p> تعریف برچسب</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Tag" asp-action="Index" class="nav-link">
                  <i class="far fa-list nav-icon"></i>
                  <p> لیست برچسب ها</p>
                </a>
              </li>
                        
            </ul>
            
          </li>
          
          
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-floppy-disk"></i>
              <p>
                مدیریت فضای دیسک
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./index.html" class="nav-link">
                  <i class="far fa-compact-disc nav-icon"></i>
                  <p> فضای دیسک</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-money-bill nav-icon"></i>
                  <p> پرداخت ها</p>
                </a>
              </li>
                        
            </ul>
            
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link logout" asp-action="Logout" asp-controller="Auth">
              <i class="fas fa-right-from-bracket"></i>
              خروج از حساب کاربری
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>